#projects {
    display: none;
    align-items: center;
    justify-content: center;
}

#projects .projects-list {
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#projects .projects-list ul {
    width: 100%;
    height: 100%;
    list-style: none;
    font-size: 1.25rem;
    display: flex;
    align-items: flex-start;
    justify-content: start;
    flex-wrap: wrap;
}

#projects .projects-list ul li {
    width: calc(var(--width-contents) * 0.3);
    height: calc(var(--height-contents) * 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#projects .projects-list ul li h3 {
    font-size: 1.5rem;
    color: #fff;
}

#projects .projects-list ul li a {
    text-decoration: none;
    color: var(--primary-color);
    margin-top: 10px;
}

#projects .projects-list ul li a:nth-child(2) {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 10px;
    border-radius: 8px;
}

#projects .projects-list ul li a:hover {
    transition: all 0.4s;
    color: #fff;
}

#projects .projects-list ul li .tools-used {
    width: 100%;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

#projects .projects-list ul li .tools-used i {
    margin: 0 10px;
}